unpackaged/main/default/flows/Create_Virtual_Survey_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Job_To_Vendor</name>
        <label>Assign Job To Vendor</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_Job_Assigned_To.Capability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assigned_To.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Job_Assigned_To.Vendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Virtual_Survey_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assingned_To</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_opp_values</name>
        <label>Copy opp values</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ObjectJob.Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.Flow_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObjectJob.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virtual Survey</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Survey_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Vendor_Found</name>
        <label>Vendor Found</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VendorIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Virtual_Survey_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_To_Vendor</targetReference>
            </connector>
            <label>VendorIsNotNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>JobName</name>
        <dataType>String</dataType>
        <expression>{!varOpportunity.Contact__r.FirstName}  + &apos; &apos; + {!varOpportunity.Contact__r.LastName} + &apos;- Virtual Survey&apos;</expression>
    </formulas>
    <interviewLabel>Create Virtual Survey Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Virtual Survey Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assingned_To</name>
        <label>Create Assingned To</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>var_Job_Assigned_To</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey_Job</name>
        <label>Create Survey Job</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Virtual_Survey_Account</targetReference>
        </connector>
        <inputReference>ObjectJob</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduling_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_opp_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SiteSurvey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Virtual_Survey_Account</name>
        <label>Get Virtual Survey Account</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vendor_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Virtual Survey</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ObjectJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job__c</objectType>
    </variables>
    <variables>
        <name>var_Job_Assigned_To</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Assigned_To__c</objectType>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
