unpackaged/main/default/flows/Pre_Contract_Site_Approval_Completed_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_adders_email</name>
        <label>Send adders email</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailWhitAdders</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.rocket_support_email_addres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@palmetto.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateSubjectWithAdders</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_no_adders</name>
        <label>Send email no adders</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailWithoutAdders</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.rocket_support_email_addres</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce@palmetto.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateSubjectWithoutAdders</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Adder</name>
        <label>Adder</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Send_email_no_adders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_adders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAdderJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_adders</targetReference>
            </connector>
            <label>Has adders</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_open_adder_jobs</name>
        <label>Are open adder jobs</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Adder_Open_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_adders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_adders_email</targetReference>
            </connector>
            <label>No Open Adder Jobs</label>
        </rules>
    </decisions>
    <description>This flow is invoked from &apos;Job Flowstatus automation&apos; to notify to Opp Primary Contact that the Pre-Contract Site Approval job has been completed.</description>
    <interviewLabel>Send Email to Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-Contract Site Approval Completed notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_related_to_Opp</name>
        <label>Get Contact related to Opp</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_adders</name>
        <label>Get related adders</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_open_adder_jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Adder_Job_Record_Type_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Opportunity</name>
        <label>Get related Opportunity</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_related_to_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opp_Primary_Contact__c</queriedFields>
        <queriedFields>Alchemy_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateEmailWhitAdders</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Pre-Contract Site Approval for customer {!Get_Contact_related_to_Opp.FirstName} {!Get_Contact_related_to_Opp.LastName} has been completed by Palmetto and includes Adders with additional costs included. Please review this customer’s proposal and contact notes in Alchemy to add details on the updates, then reach out to the Sales Member to confirm Site Approval has been achieved with the Adders included. Please click this &lt;a href=&quot;https://palmetto--qa.lightning.force.com/builder_platform_interaction/{!Get_related_Opportunity.Alchemy_Contact__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt; to view the customer&apos;s information.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailWithoutAdders</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Pre-Contract Site Approval for customer {!Get_Contact_related_to_Opp.FirstName} {!Get_Contact_related_to_Opp.LastName} has been completed by Palmetto. No adders were needed. Please review this customer’s proposal and contact notes in Alchemy to add any required updates, then reach out to the Sales Member to confirm Site Approval has been achieved. Please click this &lt;a href=&quot;https://palmetto--qa.lightning.force.com/builder_platform_interaction/{!Get_related_Opportunity.Alchemy_Contact__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt; to view the customer&apos;s information.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateSubjectWithAdders</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pre-Contract Site Approval for customer {!Get_Contact_related_to_Opp.FirstName} {!Get_Contact_related_to_Opp.LastName}: Site Approved, With Adders</text>
    </textTemplates>
    <textTemplates>
        <name>templateSubjectWithoutAdders</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pre-Contract Site Approval for customer {!Get_Contact_related_to_Opp.FirstName} {!Get_Contact_related_to_Opp.LastName}: Site Approved, Without Adders</text>
    </textTemplates>
    <variables>
        <name>isAdderJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
