unpackaged/main/default/flows/RV_Opportunity_Partner_Attribution.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>sales_info_is_changed</name>
        <label>sales info is changed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3rd_Party_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.X3rd_Party_Partner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.X3rd_Party_Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.X3rd_Party_Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Sales_Partner</name>
        <label>Update Sales Partner</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3rd_Party_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.X3rd_Party_Partner__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_sales_rep_field</name>
        <label>update sales rep field</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.X3rd_Party_Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.X3rd_Party_Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>if 3rd party partner &amp; 3rd party sales rep fields are updated</description>
        <name>Partner_Info_Changed</name>
        <label>Sales Partner Info Changed?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sales_partner_rep_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.X3rd_Party_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.X3rd_Party_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.X3rd_Party_Sales_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.X3rd_Party_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sales_info_is_changed</targetReference>
            </connector>
            <label>sales partner &amp; rep is changed</label>
        </rules>
        <rules>
            <name>sales_rep_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.X3rd_Party_Sales_Rep__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.X3rd_Party_Sales_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_sales_rep_field</targetReference>
            </connector>
            <label>sales rep is changed</label>
        </rules>
        <rules>
            <name>sales_partner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.X3rd_Party_Partner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.X3rd_Party_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Partner</targetReference>
            </connector>
            <label>sales partner is changed</label>
        </rules>
    </decisions>
    <description>As an RV partner, I need to know which Opportunities are assigned to me while still maintaining the original sales member for commissions.
https://trello.com/c/kazUKpt7/875-rv-placeholder</description>
    <interviewLabel>RV Opportunity Partner Attribution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RV Opportunity Partner Attribution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Partner_Info_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inside_Sales_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSalesPartner</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesRep</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
