unpackaged/main/default/flows/Send_Email_Build_Partner_Ask_Nicely_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendBPSurveyEmail_0</name>
        <label>sendBPSurveyEmail</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.AskNicely_Survey_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customer.care@palmetto.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Ask Nicely survey to be sent to the Build Partner when Opportunity Stage = 19. Install Completed. Launched from &quot;Automated Process&quot; process builder</description>
    <interviewLabel>Send Email Build Partner Ask Nicely Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Build Partner Ask Nicely Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getVendorDetails</name>
        <label>getVendorDetails</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendBPSurveyEmail_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUpdatedOpportunity.Vendor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getVendorDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Email: {!getVendorDetails.Email__c}
sfBuildPartner: {!getVendorDetails.Name}
sfBuildPartnerID: {!getVendorDetails.Account__c}
sfOpportunityCustomerName: {!varUpdatedOpportunity.Customer_Name__c}
sfopportunitylocation: {!varUpdatedOpportunity.Location__c}
sfopportunityid: {!varUpdatedOpportunity.Id}
sfopportunityurl: palmetto.my.salesforce.com/{!varUpdatedOpportunity.Id}
segment: Build Partner Survey
triggeremail: true</text>
    </textTemplates>
    <variables>
        <name>varUpdatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
