unpackaged/main/default/flows/Send_Email_Market_Manager_Ask_Nicely_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Email</name>
        <label>Send Survey Email</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Label.AskNicely_Survey_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>BPIsNotNull</name>
        <label>BPIsNotNull</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdatedOpportunity.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVendorDetails</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>vendorAccountIsNotNull</name>
        <label>vendorAccountIsNotNull</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>accIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getVendorDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getMarketManager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_Email</targetReference>
            </connector>
            <label>accIsNotNull</label>
        </rules>
    </decisions>
    <description>Ask Nicely survey to be sent to the Market Manager when Opportunity Stage = 21. Inspection Completed. Launched from &quot;Automated Process&quot; process builder</description>
    <interviewLabel>Send Email Market Manager Ask Nicely Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Market Manager Ask Nicely Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getMarketManager</name>
        <label>getMarketManager</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vendorAccountIsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUpdatedOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Market Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVendorDetails</name>
        <label>getVendorDetails</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMarketManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUpdatedOpportunity.Vendor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BPIsNotNull</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Name: {!getMarketManager.User.FirstName}
Email: {!getMarketManager.User.Email}
sfBuildPartnerContactID: {!getMarketManager.User.Id}
sfBuildPartner: {!getVendorDetails.Name}
sfBuildPartnerID: {!getVendorDetails.Account__c}
sfOpportunityCustomerName: {!varUpdatedOpportunity.Customer_Name__c}
sfopportunitylocation: {!varUpdatedOpportunity.Location__c}
sfopportunityid: {!varUpdatedOpportunity.Id}
sfopportunityurl: palmetto.my.salesforce.com/{!varUpdatedOpportunity.Id}
segment: Market Manager Inspection Complete
triggeremail: true</text>
    </textTemplates>
    <variables>
        <name>varUpdatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
