unpackaged/main/default/flows/Update_Converted_Contact_with_Community_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign Community Lead ID to Converted Contact</description>
        <name>Assign_Community_Lead</name>
        <label>Assign Community Lead</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Converted_Contact.Community_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Community_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Converted_Contact.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner - Ambassador</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Converted_Contact</targetReference>
        </connector>
    </assignments>
    <description>This flow is invoked from &quot;Lead Automation - Insert/Update&quot; to update the Community Lead ID on converted Contact.</description>
    <interviewLabel>Update Converted Contact with Community Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Converted Contact with Community Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Community_Lead</name>
        <label>Get Community Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadReferralCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Community_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>convertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Converted_Contact</name>
        <label>Update Converted Contact</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputReference>Get_Converted_Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Community_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>convertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>leadReferralCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
